.modal-content-activate {
  background-color: #181c24;
  border: 1px solid #282f3d;
  border-radius: 12px;
  padding: 32px;
  width: 100%;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  position: relative;
  box-sizing: border-box;
}